@import "details.css";
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
    background: rgb(253, 253, 253);
	color: #1c113b;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 15px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2.5px;
}

ul {
    list-style-type: none;
    padding-inline-start: 0.50rem;
}

#orderButton {
    margin: 1rem 0 2rem 2rem;
    padding: 0.5rem;
    background-color: rgb(25, 0, 108);
    color: rgb(255, 255, 255);
    font-size: 1rem;
}